# MacOS
.DS_Store

# build
build/
.idea/
.vscode/
ThirdLibs/
output/
__pycache__/
data/

# Large files and logs
build_gcc11_bak_*/
*.log
*.pdf
build_log.txt
.connection_config
.secret_password
ucl-tools/remote_output.txt
ucl-tools/.connection_config